<div class="upper-footer">
    <div class="links-container">
        <h3 class="title">PAGES</h3>
        <a href="">Home</a>
        <a href="">Stores</a>
        <a href="">Register</a>   
    </div>
    <div class="social-container">
        <h3 class="title">SOCIAL MEDIA</h3>
        <div class="social-items">
            <a href=""><i class="fa-brands fa-instagram fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-facebook fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-linkedin fa-2xl"></i></a>
            <a href=""><i class="fa-brands fa-github fa-2xl"></i></a>
        </div>
    </div>
    <div class="contact-container">
        <h3 class="title">CONTACT</h3>
        <div class="contact-item">
            <i class="fa-solid fa-location-dot fa-lg"></i>
            <p class="contact-adress" >Kasindolska 6, Sarajevo</p>
        </div>
        <div class="contact-item">
            <i class="fa-solid fa-phone fa-lg"></i>
            <p class="contact-phone" >062-634-818</p>
        </div>
        <div class="contact-item">
            <i class="fa-solid fa-envelope fa-lg"></i>
            <p class="contact-mail">burgija387@etf.unsa.ba</p>
        </div>
        
        
    </div>
    
</div>
<div class="lower-footer">
    <p>Copyright © 2023, All Right Reserved Burgija</p>
</div>
