<p class="title" >Filters</p>

<p class="parametar">Price range</p>
<form class="price" >
    <label class="pushleft" for="fname">Lowest price:</label>
    <input style="margin-left: 22px;" type="number" id="lowprice" name="fname"><br>
    <label class="pushleft" for="lname">Highest price:</label>
    <input type="number" id="highprice" name="lname">
  </form>

<p class="parametar">Time added</p>
<form>
    <input class="pushleft" type="radio" id="html" name="fav_language" value="">
    <label style="margin-left: 10px;" for="html">This week</label><br>
    <input class="pushleft" type="radio" id="css" name="fav_language" value="">
    <label style="margin-left: 10px;" for="css">This month</label><br>
    <input class="pushleft" type="radio" id="javascript" name="fav_language" value="">
    <label style="margin-left: 10px;" for="javascript">In 6 months</label><br>
    <input class="pushleft" type="radio" id="javascript" name="fav_language" value="">
    <label style="margin-left: 10px;" for="javascript">This year</label>
  </form>
<p class="parametar">Location</p>
<button class="apply">Apply</button>
