<div class="upper-container">
    <div class="logo-container">
        <div class="icon-container">
            <img src="https://static.vecteezy.com/system/resources/previews/016/415/344/original/electric-drill-illustration-in-minimal-style-png.png" alt="">
            
        </div>
        <div class="name-container">
            <p>BURGIJA</p>
        </div>
    </div>
    <div class="search-bar-container">
        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="What are you looking for?">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>
    </div>
    <div class="login-container">
        <button class="sign-up">Sign in</button>
    </div>
</div>
<div class="nav-container">
    <button class="hamburger">
        <i class="fa-solid fa-bars fa-2xl"></i>
    </button>
    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>


    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>

    <button class="nav-item">
        <div class="nav-item-img">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/020/865/002/small_2x/hatchet-icon-design-free-vector.jpg" alt="">
        </div>
        <div class="nav-item-name">
            <p>Drills</p>
        </div>
    </button>
</div>
